<div class="form">
  <h2>Post New Comment</h2>
  <form>
    <label for="name">Name</label><br>
    <input type="text" name="name" id="name" style="width: 200px"><br>
    <label for="email">Email</label><br> 
    <input type="email" name="email" id="email" style="width: 200px"><br>
    <label for="body">Message</label><br>
    <textarea name="body" id="body" cols="30" rows="10" style="width: 400px"></textarea><br>
    <input type="submit" value="Submit">
  </form>
</div>