<div class="top-bar">
  <span><a href="/">Mongo Scraper</a></span>
  <a href="https://github.com/jaseat/mongo-scraper">Github</a>
  <button id="refresh">Refresh</button>
</div>

<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <p>Please Wait</p>
  </div>

</div>